@charset "UTF-8";
/*------------------------全局变量-------------------------------------*/
@import '../lib/hotcss-master/src/px2rem';

//第一步先把px2rem导入

$designWidth: 750;
//写scss之前，必须要先定义designWidth。

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*font-size: 62.5%;*/
}

body {
  font-family: "微软雅黑", Helvetica, STHeiTi, Arial, sans-serif;
  margin: 0 auto;
  font-size: px2rem(28);
  line-height: 1.5;
  color: #333333;
  background-color: white;
  height: 100%;
  width: 16rem;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
 /* border: 1px solid red;*/
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #0075c2;
}

a:active,a:focus {
  outline: 0;
  color: red;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}


abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}
i {
  font-style: normal;
}
dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  vertical-align: middle;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  outline:none ;
}

button {
  overflow: visible;
  min-width: px2rem(50);
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cccccc;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cccccc;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cccccc;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
li {
  list-style: none;
}*/
.mainBox {
  position: absolute;
  top: px2rem(220);
  left: 0;
  right: 0;
  bottom: px2rem(100);
  overflow: auto;
  .main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    text-align: center;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  a,button.submit {
    display: block;
    height:px2rem(100);
    line-height:px2rem(100);
    text-align: center;
    width:100%;
    color: #fff;
    background: #0075c2;
    font-size: px2rem(38);
    text-decoration: none;
    &:active,&:focus {
      background: rgba(0,117,194,0.8);
    }
  }
}
/*.toMessage {

  button.submit {
    display: block;
    height:px2rem(100);
    line-height:px2rem(100);
    text-align: center;
    width:100%;
    color: #fff;
    background: #0075c2;
    font-size: px2rem(38);
    text-decoration: none;
    &:active,&:focus {
      background: rgba(0,117,194,0.8);
    }
  }
}*/
.uploadImg {
  height: px2rem(160);
  border: px2rem(1) solid #eee;
  background-color: #fff;
  .addImg {
    display: inline-block;
    /*margin:px2rem(25);*/
    /*float: left;*/
    margin-top:px2rem(10);
    width: px2rem(140);
    height: px2rem(140);
    vertical-align: middle;
    img {
      /*width:px2rem(112);
      height:px2rem(112);*/
      width: 100%;
      height: 100%;
    }
  }
  .imgs {
    display: inline-block;
    height:100%;
    float: left;
    margin-left: px2rem(25);
    .picture {
      margin-top:px2rem(10);
      position: relative;
      display: inline-block;
      height: px2rem(140);
      width:px2rem(140);
      margin-right:px2rem(25);
      img {
        height: px2rem(140);
        width:px2rem(140);
      }
      a {
        display: block;
        position: absolute;
        top: 0;
        right:0;
        color: #fff;
        width: px2rem(42);
        height: px2rem(42);
        background: #d5d5d5 ;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}



/*.modal_align{
  display: table;
  height: 100%;


  margin: 0 auto;

}*/
.modal-dialog {
  width: 90%;
  margin:px2rem(35);
  margin-top: px2rem(150);
  .close {
    width: px2rem(60);
    height: px2rem(60);
    font-size: px2rem(60);

  }
}
.modal-header
{
  padding: px2rem(50);
  h4 {
    text-align: center;
    font-size: px2rem(28);
  }
}
.modal-footer
{
  text-align: center;
  button.btn {
    padding: px2rem(5) px2rem(15);
    font-size: px2rem(28);
  }
}




/*loading*/

#ss_loading {
  position: fixed;
  z-index: 999999;
}
.loadingBg {
  bottom: 0;
  left: 0;
  opacity: 0.8;
  position: fixed;
  right: 0;
  top: 0;
}
.loadingContent {
  left: 40%;
  position: fixed;
  top: 50%;
  margin-left: -90px;
}

#ss_loading_text {
  color: #42adff;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  position: relative;
  top: -30px;
  font-size: px2rem(28);
}

#ss_loading_text {
  background: #757575;
  border-radius: 25px;
  color: #fff !important;
  height: 58px;
  line-height: 58px;
  text-align: left;
  width: px2rem(350);
}


#ss_loading_text i {
  background: url("../images/loading_animation.gif") no-repeat scroll center center transparent;
  display: inline-block;
  height: 16px;
  margin: 0 15px;
  vertical-align: middle;
  width: 16px;
}



