<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-2.5.xsd
 	http://www.springframework.org/schema/mvc
 	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
 	  <!-- 自动扫描bean，把作了注解的类转换为bean -->  
     <!--  <context:component-scan base-package="com.sunsharing.party"/> -->
	<context:component-scan base-package="com.sunsharing.party" use-default-filters="false">
    	<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan> 
     <!--拦截器 -->
      <mvc:interceptors>
    	<mvc:interceptor>
    		<mvc:mapping path="/**"/>
    		<bean id="loginInterceptor" class="com.sunsharing.party.web.interceptor.LoginInterceptor">
		    </bean>
    	</mvc:interceptor>
    	 <!-- <mvc:interceptor>
			  <mvc:mapping path="/**"/>
			  <bean id="linkRuleInterceptor" class="com.sunsharing.party.web.interceptor.SystemInterceptor">
			  </bean>
		  </mvc:interceptor> -->
    </mvc:interceptors>  
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager"> 
  		<mvc:message-converters>
			<!-- 将StringHttpMessageConverter的默认编码设为UTF-8 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
		    	<constructor-arg value="UTF-8" />
			</bean>
			
 			<!-- 将Jackson2HttpMessageConverter的默认格式化输出为false -->
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                	<list>
                		<value>application/json;charset=UTF-8</value>
                		<value>text/html;charset=UTF-8</value>
                	</list>
                </property>
                <property name="prettyPrint" value="false"/>
            </bean> 
  		</mvc:message-converters>
  	</mvc:annotation-driven>

	<!-- REST中根据URL后缀自动判定Content-Type及相应的View -->
	<bean id="contentNegotiationManager" 
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="mediaTypes"><!-- 匹配后缀 自动调用解析器 -->
			<map>
                <entry key="json" value="application/json"/> 
			</map>
		</property>
		<property name="ignoreAcceptHeader" value="false"/> <!-- 设置为true以忽略对Accept Header的支持 -->
		<property name="favorPathExtension" value="true"/> <!-- 表示支持后缀匹配 -->
	</bean>
   <!-- 声明viewResolver -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大尺寸为100MB -->
        <property name="maxUploadSize">
            <value>104857600</value>
        </property>
    </bean>
    <!-- 异常处理 -->
	<bean id="exceptionResolver" class="com.sunsharing.party.exception.ExceptionResolver"></bean>
</beans>
