@charset "utf-8";

/* 应急管理分析 */
.fx-a{
    margin: 10px;
    background-color: #428bca;
    display: inline-block;
    padding: 3px 15px;
    border-radius: 5px;
    color: #fff!important;
    text-decoration: none!important;
}
.tj-con{
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 99999;
    width: 99%;
    background-color: #fff;
}
.cx-con .cx-cell{
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    padding: 0 35px 0 20px;
    margin-right: 10px;
    position: relative;
}
.cx-con .status-b{
    color: #222;
}
.cx-con .del-a{
    font-weight: bold;
    color: #1371AF;
    font-size: 14px;
    font-family: arial;
    border-left: 1px dashed #1371AF;
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 999;
    padding-left: 7px;
    height: 16px;
    line-height: 16px;
}

/* 应急管理分析-20160913 */

.fx-span{
    cursor: pointer;
    font-size: 14px;
    color: #3875d7;
}
.list-con{
    border-right: 1px solid #dedede;
}
.analye-con{
    /*width: 100%;*/
    overflow-y: auto;
    padding: 10px;
    display: none;
}

.back-a{
    display: block;
    padding: 7px 10px;
    border: 1px solid #bbb;
    background-color: #eee;
    border-radius: 4px;
    width: 90%;
    margin: 10px auto 20px;
}
.back-a b{
    color: #00a0e9;
}
.range-con{
    margin: 20px auto;
}
.range-con b{
    font-size: 14px;
}
.range-t{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 10px;
}
/*.range-t .BMap_stdMpZoom {position:relative; height:30px; margin-top:10px; margin-bottom:10px; top:0}
.range-t .BMap_stdMpZoom .BMap_button {width:22px;height:22px;overflow:hidden; background:url(../../images/mapctrls.png) no-repeat; cursor:pointer; position:absolute; top:5px; z-index:101}
.range-t .BMap_stdMpZoom .BMap_stdMpZoomIn {	background-position:0 -30px; right:122px;left: auto;}
.range-t .BMap_stdMpZoom .BMap_stdMpZoomOut {background-position:0 0; left:0}
.range-t .BMap_stdMpZoom .BMap_stdMpSlider {width:auto; height:22px; position:absolute; left:20px; top:5px; z-index:100}
.range-t .BMap_stdMpSlider .BMap_stdMpSliderBgLeft{width:0; height:6px; overflow:hidden; background:url(../../images/mapctrls.png) repeat-x 0 -90px; position:absolute; left:0; top:8px; z-index:102}
.range-t .BMap_stdMpSlider .BMap_stdMpSliderBgRight{width:100%; height:6px; overflow:hidden; background:url(../../images/mapctrls.png) repeat-x 0 -90px; position:absolute; left:0; top:8px; z-index:101}
.range-t .BMap_stdMpZoom .BMap_stdMpSliderBar{width:14px;height:22px;overflow:hidden; background:url(../../images/mapctrls.png) no-repeat 0 -60px; cursor:pointer; position:absolute; left:2px; top:0; z-index:103}
.range-t .BMap_data{width:60px; height:28px; line-height:28px; background:#fff; border:1px solid #d2d2d2; color:#333; position:absolute; top:2px; right: 55px; z-index:99; text-align: center}
.range-t .btn{position: absolute;top:0; right:0;}*/

.range-t .BMap_stdMpZoom {position:relative; margin-top:10px; margin-bottom:10px; top:0}
.range-t .BMap_data{width:80px; height:30px; line-height:30px; background:#fff; border:1px solid #ccc; color:#333;  text-align: center;}
.BMap_stdMpZoom b{display: inline-block; }

/* 范围层样式 */
.Bmap_circle{width:0; height:0; border:2px solid #0893ff; position:absolute; z-index:701;
    -moz-border-radius:999px;  /*  圆角的尺度为宽度的一半  */
    -webkit-border-radius:999px;
    border-radius:999px;
    background-image:-moz-radial-gradient(center center, circle cover, rgba(31, 169, 244, 0), rgba(193, 211, 241, 0.7)); /* FF3.6+ */
    background-image: -webkit-gradient(radial,50% 50%,80,50% 50%,122,from(rgba(31, 169, 244, 0)),to(rgba(193, 211, 241, 0.7))); /* Chrome,Safari4+ */

}
.Bmap_circle_center{width:42px; height:42px; position:absolute; z-index:603; background:url(../../images/Bmap_circle_center.png) no-repeat}
.Bmap_circle .Bmap_line{width:54%; height:3px; overflow:hidden; background:#0893ff; position:absolute; top:50%; left:50%; margin-top:-2px; z-index:602}
.Bmap_circle .Bmap_line_data{width:65px; height:28px; line-height:28px; background:#fff; border:1px solid #e7e7e7; color:#555; padding:0 0 0 5px; position:absolute; left:104%; top:50%; margin-top:-14px; z-index:604}
.Bmap_circle_tips{width:230px; height:35px; line-height:35px; background:#d9eaff; border:1px solid #e7e7e7; color:#555; padding:0 0 0 10px; position:absolute; z-index:702;
    -moz-box-shadow:3px 4px 5px #9C9C9C;
    -webkit-box-shadow:3px 4px 5px #9C9C9C;
    box-shadow:3px 4px 5px #9C9C9C;
}

.analyse-table{
    border: 1px solid #ccc;
    width: 100%;
    margin: 10px 0;
    background-color: #fff;
}
.analyse-table td,.analyse-table th{
    height: 40px;
    text-align: center;
    border: 1px solid #ccc;
}
.analyse-table td.td1{
    background-color: #eee;
    cursor: pointer;
}
.analyse-table td.td-on{
    background-color:#3276b1;
    color:#fff;
}

.analyse-table-info{
    width: 300px;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 99;
    display: none;
}
.analyse-table-info .analyse-table{
    margin: 0;
}
.analyse-table-info .analyse-table td{
    border: none;
    border-bottom: 1px solid #ccc;
}
.any-conent .del-a{
    width:16px ;
    height: 16px;
    background: url(../../images/searchbox.png) no-repeat -5px -125px;
    display: block;
    position: absolute;
    top: 2px;
    right:2px;
    z-index: 100;
}
.any-conent .del-a:hover{
    background-position: -30px -125px;
}
.analyse-table .send-a{
    display: inline-block;
    padding: 0 5px;
    background-color: #00a0e9;
    color: #fff;
    border-radius: 4px;
}
.analyse-table .way-a{
    height: 38px;
    width: 39px;
    background: url(../../images/searchbox.png) no-repeat 0 0;
    display: block;
}
.yj-info{
    border: 1px solid #ccc;
    padding: 10px 20px 20px;
    width: 500px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -200px;
    z-index: 101;
    display: none;
}
.yj-info textarea{
    width: 100%;
    height: 80px;
    line-height: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.yj-info>div{
    margin-top: 10px;
}


/* 滚动条样式 */

/*定义滚动条的轨道，内阴影及圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

/*定义滑块，内阴影及圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(24, 13, 9, 0.3);
    background-color: #999;
}



@media screen and (max-width: 1200px) {
    .cx-con .cx-cell{
        padding: 0 30px 0 15px;
        margin-right: 7px;
    }
    .BMap_stdMpZoom b{
         padding-bottom: 10px;
        display: block;
    }
    /* 重新定义左侧分页菜单 */
    .table_nav li{
        float: left;
    }
}
@media screen and (min-width: 1200px) and ( max-width: 1400px) {
    .range-t .BMap_data{
        width: 40px;
        line-height: 24px;
    }
}
